body {
  line-height: 1.5;
  color: black;
  background: url(../images/seamless-paper-texture.png);
/*  Small image full screen
  background-size: cover;
  background-position: center;
  background-attachment: fixed; */
}

/* Background pattern from subtlepatterns.com */
.container {
  width: 50%;
  margin: auto;
  background: rgba(255,255,255,0.8);
  padding: 15px;
}

h1 {
  font-size: 100px;
}

a {
  text-decoration: none;
}
